.row
  .large-12.large-centered.columns.baby-top-margined.centered
    = image_tag "cohort1smiling.png"
.row
  .large-7.columns.large-centered.baby-top-margined
    .row
      .large-3.columns.baby-top-margined.centered
        %h4.subheader
          pmt value
      .large-9.columns.baby-top-margined
        %input{type: "text", id: "freelancepayment", class: "validates-presence"}
    = render 'layouts/pay_form'
= render "layouts/confirm_payment"
= render "layouts/card_error"
= render "layouts/thank_you"
