.code
  = render "layouts/main"
  = render "layouts/curriculum"
  = render "layouts/testimonials"
  = render "layouts/register"
= render "layouts/confirm_payment"
= render "layouts/card_error"
= render "layouts/thank_you"
