.code
  = render "layouts/veterans"
  = render "layouts/mission"
  = render "layouts/curriculum"
  = render "layouts/veterans_profile"
  = render "layouts/testimonials"
  = render "layouts/faq"
  = render "layouts/apply"
= render "layouts/app_success"
= render "layouts/app_error"
