<% content_for :head do %>
  <title>Curriculum Overview</title>
<% end %>

<%=  render "layouts/breadcrumbs" %>

<div class="row" id="main">
  <div class="large-11 large-centered columns">
    <div class="panel">
      <div class="row">
        <div class="large-5 columns">
            <h1 class="mobile-centered">
              Curriculum & Content
            </h1>
            <h2 class="subheader mobile-centered">
              <%= link_to "Ruby Basics", "/curriculum/rubybasics" %>
            </h2>
            <h2 class="subheader mobile-centered">
              <%= link_to "Ruby Objects", "/curriculum/rubyobjects" %>
            </h2>
            <h2 class="subheader mobile-centered">
              <%= link_to "Rails MVC Overview", "/curriculum/mvcroundtrip" %>
            </h2>
            <h2 class="subheader mobile-centered">
              <%= link_to "Rails Data Models", "/curriculum/models" %>
            </h2>
            <h2 class="subheader mobile-centered">
              <%= link_to "Rails Controllers", "/curriculum/controllers" %>
            </h2>
            <h2 class="subheader mobile-centered">
              <%= link_to "Rails Views", "/curriculum/views" %>
            </h2>
          </div>
        <div class="large-7 columns">
          <iframe src="//player.vimeo.com/video/80245792" width="436" height="291" frameborder="0" class="mobile-intro-vid railstutorintro" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>
    </div>

    <blockquote class="mobile-centered">
      "I have successfully taught many people the fundamentals of Ruby on Rails, trust that I will effectively and quickly get you building web software of your own design." - John Davison, @railstutor
    </blockquote>
  </div>
</div>
