.row
  .large-12.columns.outline
    %h3.top-margined.mobile-centered.grey.centered
      %span.number
        = fa_icon "group", class: "centered"
      Master Ruby on Rails fundamentals while social pair programming.
    .centered
      = image_tag "cohort1smiling.png"
    %h3.subheader.centered
      = link_to "Curriculum", curriculum_path, class: "button small radius"

    %h3.top-margined.mobile-centered.grey.centered
      %span.number
        = fa_icon "thumbs-up"
      Get coached by an expert tutor.
    .row
      .large-10.columns.outline.large-centered
        .row
          .large-5.columns.outline.padded.top-margined.centered.mobile-centered
            = image_tag "profile.jpg"
          .large-7.columns.outline.padded.top-margined.mobile-centered
            %ul.fundamental.vcard.baby-top-margined
              %li John Davison, MBA, PMP, DBC
              %li Fed all natural Honey Badger.
              %li Self transformed hacker.
              %li #{link_to "johncdavison.com", "http://johncdavison.com", target: "new"}
              %li #{link_to "github.com/jcdavison", "http://github.com/jcdavison", target: "new"}
              %li #{link_to "linkedin.com/jcdavison", "http://www.linkedin.com/in/jcdavison", target: "new"}
    %h3.top-margined.mobile-centered.grey.centered
      %span.number
        = fa_icon "rocket"
      Build cool products!
    .row
      .large-3.columns.outline.padded.large-offset-3.top-margined.mobile-centered
        = image_tag "footy_a1.png"
      .large-6.columns.padded.top-margined.mobile-centered
        = image_tag "pic/stewart_large.jpeg", class: "baby-top-margined"
        %blockquote.baby-top-margined.mobile-centered
          "Working with John quickly got me up to speed with the intricacies of Ruby on Rails.  John's teaching style really helped me grasp and retain the fundamental of Rails in a very short time." -@stewartmccoy
    .row
      .large-6.columns.outline.large-centered.top-margined.mobile-centered.centered
        %button.large.radius.learnmore#footerlearnmore.padded
          Learn More
        = link_to "Register", '/register', class: "button radius large padded"
