.row
  .large-10.columns.large-centered
    .footer.centered
      = link_to "home", root_path
      \| 
      = link_to "curriculum:", curriculum_path
      = link_to "ruby basics", curriculum_rubybasics_path 
      \| 
      = link_to "ruby objects", curriculum_rubyobjects_path
      \| 
      = link_to "rails mvc overview", curriculum_mvcroundtrip_path
      \| 
      = link_to "rails data models", curriculum_models_path
      \| 
      = link_to "rails controllers", curriculum_controllers_path
      \| 
      = link_to "rails views", curriculum_views_path
    .footer.centered
      site design, layout, content and code created by #{link_to "John Davison","https://plus.google.com/u/0/+JohnDavison-railstutor/?rel=author" , target: "new", rel: "author"} | #{ link_to "johncdavison.com", "http://www.johncdavison.com", target: "new"}
