.row#register
  .small-10.large-10.columns.large-centered.small-centered
    .top-margined
      %p.main.scripty.red.register
        Register Now!
.row
  .small-10.large-8.columns.large-centered.small-centered.bottom-margin
    .row
      .large-6.columns
        %h3
          $1150 Includes
        %ul.no-bullet
          %li.session 15 hours of 1 on 1 teaching.
          %li.session Lifetime access to custom learning content.
          %li.session 24/7 email and gist support.
          %li.session Product Design and Consultative Support.
          %li.session Flexible scheduling of teaching hours.
          %li.session Money back guarantee.
      .large-6.columns
        %h4
          Your Info
        = form_for :customer, url: main_path, method: :post, html: {id: "new_customer"} do |customer|
          = customer.label "First_Name"
          = customer.text_field :first_name, class: "validates_presence register", id: "first_name"
          = customer.label "Last_Name"
          = customer.text_field :last_name, class: "validates_presence register", id: "last_name"
          = customer.label "email"
          = customer.text_field :email, class: "validates_presence register", id: "email"
          = customer.label "phone #"
          = customer.text_field :phone, class: "validates_presence register", id: "phone"
          = customer.label "extra info"
          = customer.text_area :info, class: "info register", id: "info"
          = customer.submit :register, class: "button medium radius success", value: "Sign Up!", id: "register_button"
