.row
  .small-10.large-10.columns.large-centered.small-centered.pa
    %p.main.scripty.red
      Professional Testimonials
    .row
      .small-10.large-9.columns.large-centered.small-centered
        .row.padded
          .large-2.columns.padded
            = image_tag "taariq.png", class: "profile"
          .large-10.columns
            %blockquote
              "John Davison has the depth of knowledge that enabled me to learn Ruby on Rails within a month. John's patience and organization made learning Ruby and Rails a snap and I would absolutely encourage all, business professionals seeking to understand software development, to learn from him."
              %cite
                = link_to "@taariqlewis", "https://twitter.com/taariqlewis", target: "new", id: "testimonial_taariq"
    .row
      .small-10.large-9.columns.large-centered.small-centered
        .row
          .large-2.columns
            = image_tag "alyssa.jpeg", class: "profile"
          .large-10.columns
            %blockquote
              "John gave me hope that learning how to code was something I could do, and do quickly! He told me about Dev Bootcamp and all the doors it opened for him. After meeting John and hearing his stories, I was so inspired that I showed up at Dev Bootcamp the following Monday, without even being admitted. They didn't let me start that day, but four months later I began for real, and three months after that I emerged as a web dev and founded #{link_to "hipcamp.com", "http://hipcamp.com", target: "new", id: "testimonial_hipcamp"} to help people discover awesome campsites and get outside. John helped steer me on this path and it has changed my life!"
              %cite
                = link_to "@alyraz", "https://twitter.com/alyraz", target: "new", id: "testimonial_alyssa"
    .row
      .small-10.large-9.columns.large-centered.small-centered
        .row
          .large-2.columns
            = image_tag "stewart.jpeg", class: "profile"
          .large-10.columns
            %blockquote
              "Working with John quickly got me up to speed with the intricacies of Ruby on Rails.  He directly enabled me to build #{link_to "footysubs", "http://footysubs.herokuapp.com", target: "new", id: "testimonial_footysubs"}.  As a professional UX Designer, I spend a lot of time working with engineering teams.  Being able to better grasp the nature of how applications get built has enabled me to communicate and articulate my ideas better.  John's teaching style also really helped me grasp and retain the fundamental of Rails in a very short time.  I highly recommend him to anyone looking to learn how to build prototypes or learn how to learn about software engineering."
              %cite
                = link_to "@stewartmccoy", "https://twitter.com/stewartmccoy", target: "new", id: "testimonial_stewart"
